@using WebApp.Helpers;
<script src="~/Scripts/Views/Financial/vFinancialUpdate.js"></script>
@{
    ViewBag.Title = "vFinancialUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar Entidad Financiera</h2>


<div class="dashboard-heading d-flex justify-content-center">
    <h2>Cambiar <span>Contraseña</span></h2>
</div>

<div class="d-flex justify-content-center">
    <div>
        <p>Para modificar la contraseña necesitamos verificar los siguientes datos de su cuenta:</p>
        <form id="frmFinancialUpdatePassword" class="form" method="get" action="">
            <input type="text" id="txtIdFinancial" class="d-none">
            <input type="text" id="txtFinancialLogin" class="d-none">


            <div class="form-row ">
                <div class="col-lg-12">
                    @Html.CtrlInputSecond(id: "txtOldPassword", type: "password", required: true, placeHolder: "Contraseña actual", columnDataName: "OldPassword")
                </div>
            </div>
            <div class="form-row ">
                <div class="col-lg-12">
                    @Html.CtrlInputSecond(id: "txtNewPassword", type: "password", required: true,
           placeHolder: "Nueva contraseña", columnDataName: "FinancialPassword")
                </div>
            </div>
            <div class="form-row ">
                <div class="col-lg-12">
                    @Html.CtrlInputSecond(id: "txtConfirmNewPassword", type: "password", required: true,
          placeHolder: "Confirmar nueva contraseña", columnDataName: "")
                </div>
            </div>
            <div class="form-row ">
                <div class="col-lg-12">
                    @Html.CtrlButton(viewName: "vFinancialUpdate", id: "btnChangePassword", type: "button",
               label: "Modificar", onClickFunction: "ValidateInputPassword", buttonType: "orange")
                </div>
            </div>
        </form>
    </div><!-- end custom-form -->
</div><!-- end form-content -->
<script>

    $(document).ready(function () {
        var vfinancialUpdate = new vFinancialUpdate();
        document.getElementById("txtIdFinancial").value = "@ViewBag.IdFinancial";


    });
</script>