
@using WebApp.Helpers;
@{
    ViewBag.Title = "vStudentRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-lg-5 col-sm-11">
                <div class=" text-box">
                    <h1 class="home-title">BOLSA DE EMPLEO</h1>
                    <p class="subtitle home-subtitle-1">
                        En está sección, todos los estudiantes podrán subir sus hojas de vida,
                        para ser evaluados por los reclutadores de entidades financieras
                    </p>
                    <p class="subtitle home-subtitle-2">Exclusiva para egresados de Banking Coach</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-11">
                <img class="img" src="~/Content/imgs/Empleo.jpg" alt="">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="text-center my-4">

                            <h1 class="form-title">REGISTRA A UN ESTUDIANTE</h1>
                        </div>
                        <form id="frmStudentCreate" class="form frmStudentCreate">
                            <div class="col-sm-12 text-center">
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtBankingStudent", type: "date", required: true, placeHolder: "Estudiante del Banco", columnDataName: "BankingStudent")
                                        @Html.CtrlInputSecond(id: "txtEntryDate", type: "date", required: true, placeHolder: "Fecha de Registro", columnDataName: "EntryDate")
                                        @Html.CtrlInputSecond(id: "txtFirstName", type: "text", required: true, placeHolder: "Primer Nombre", columnDataName: "FirstName")
                                        @Html.CtrlInputSecond(id: "txtSecondName", type: "text", required: true, placeHolder: "Segundo Nombre", columnDataName: "SecondName")
                                        @Html.CtrlInputSecond(id: "txtLastName", type: "text", required: true, placeHolder: "Primer Apellido", columnDataName: "LastName")
                                        @Html.CtrlInputSecond(id: "txtSecondLastName", type: "text", required: true, placeHolder: "Segundo Apellido", columnDataName: "SecondLastName")
                                        @Html.CtrlInputSecond(id: "txtFirstName", type: "text", required: true, placeHolder: "Primer Nombre", columnDataName: "FirstName")
                                        @Html.CtrlInputSecond(id: "txtIdType", type: "text", required: true, placeHolder: "Primer Nombre", columnDataName: "IdType")
                                        @Html.CtrlInputSecond(id: "txtIdentificationNumber", type: "text", required: true, placeHolder: "Número de identficaciÓN", columnDataName: "IdentificationNumber")
                                        @Html.CtrlInputSecond(id: "txtBirthdate", type: "date", required: true, placeHolder: "Fecha de Nacimiento", columnDataName: "Birthdate")
                                        @Html.CtrlInputSecond(id: "txtGender", type: "text", required: true, placeHolder: "Género", columnDataName: "Gender")
                                        @Html.CtrlInputSecond(id: "txProvince", type: "text", required: true, placeHolder: "Provincia", columnDataName: "Province")
                                        @Html.CtrlInputSecond(id: "txtCanton", type: "text", required: true, placeHolder: "Cantón", columnDataName: "Canton")
                                        @Html.CtrlInputSecond(id: "txtDistrict", type: "text", required: true, placeHolder: "Distrito", columnDataName: "District")
                                        @Html.CtrlInputSecond(id: "txtEmail", type: "email", required: true, placeHolder: "Email", columnDataName: "Email")
                                        @Html.CtrlInputSecond(id: "txtStudentLogin", type: "text", required: true, placeHolder: "Nombre de usuario", columnDataName: "Student_Login")
                                        @Html.CtrlInputSecond(id: "txtPassword", type: "password", required: true, placeHolder: "*********", columnDataName: "Student_Password")
                                        @Html.CtrlInputSecond(id: "txtConfirmPassword", type: "password", required: true, placeHolder: "*********", columnDataName: "")
                                        @Html.CtrlInputSecond(id: "txtLaboralStatus", type: "text", required: true, placeHolder: "Estado Laboral", columnDataName: "LaboralStatus")
                                        @Html.CtrlInputSecond(id: "txtWork_Address", type: "text", required: true, placeHolder: "Dirección del Trabajo", columnDataName: "Work_Address")
                                        @Html.CtrlInputSecond(id: "txtPrimaryPhone", type: "text", required: true, placeHolder: "Número de Teléfono", columnDataName: "PrimaryPhone")
                                        @Html.CtrlInputSecond(id: "txtSecondaryPhone", type: "text", required: true, placeHolder: "Número de Teléfono Secundario", columnDataName: "SecondaryPhone")
                                        @Html.CtrlInputSecond(id: "txtLaboralExperience", type: "text", required: true, placeHolder: "Experiencia Laboral", columnDataName: "LaboralExperience")
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin: 0px auto;">
                                <div style="margin: 0px auto 10px;">
                                    @Html.CtrlButton(viewName: "vStudentRegistration", type: "button", id: "btnRegister", label: "Registrar", onClickFunction: "ValidateInputs", buttonType: "orange")
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

