@using WebApp.Helpers;
<script src="~/Scripts/Views/SysAdmin/vSysAdminRegistration.js"></script>
@{
    ViewBag.Title = "vSysAdminRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .form{
        margin: 25px auto;
    }
</style>
<div class="home">
    <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-lg-5 col-sm-11">
                <div class="page-title text-box">
                    <h1>REGISTRA A UN ADMINISTRADORR</h1>
                    <p class="subtitle home-subtitle-1">
                        En está sección, puede registrar a un nuevo administrador
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-11">
                <img class="img" src="~/Content/imgs/Empleo2.jpg" alt="">
                <div class="container">
                    <div class="row justify-content-center">
                        <form id="frmSysAdminCreate" class="form frmSysAdminCreate">
                            <div class="col-sm-12 text-center">
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        <div class="input-group mb-3">
                                            <div class="form-group input-group flex-column ">
                                                <label>Tipo de documento:</label>
                                                <select style="height:54px;" class="form-control w-100" id="txtIdType" name="IdType" ColumnDataName="IdType" required>
                                                    <option value="Cédula persona física">Cédula persona física</option>
                                                    <option value="Residencia">Residencia</option>
                                                    <option value="Pasaporte">Pasaporte</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        <div class="input-group mb-3">
                                            @Html.CtrlInputSecond(id: "txtIdentificationNumber", type: "text", required: true, placeHolder: "Número de identificación", columnDataName: "IdentificationNumber")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtName", type: "text", required: true, placeHolder: "Nombre Completo", columnDataName: "Name")
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtEmail", type: "email", required: true, placeHolder: "Correo electrónico", columnDataName: "Email")
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtPassword", type: "password", required: true, placeHolder: "Nueva Contraseña", columnDataName: "AdminPassword")
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtConfirmPassword", type: "password", required: true, placeHolder: "Confirmar Contraseña", columnDataName: "")
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin: 0px auto;">
                                <div style="margin: 0px auto 10px;">
                                    @Html.CtrlButton(viewName: "vSysAdminRegistration", type: "button", id: "btnRegister", label: "Registrar", onClickFunction: "ValidateInputs", buttonType: "orange")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

