@using WebApp.Helpers;
<script src="~/Scripts/Views/SysAdmin/vSysAdminAccount.js"></script>
@{
    ViewBag.Title = "vSysAdminAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Mi Cuenta</h2>

<h4 id="P_UserName"></h4>
<input type="text" id="txtIdSysAdmin" class="d-none">


<div class="dashboard-heading d-flex justify-content-center">
    <h2>Cambiar <span>Contraseña</span></h2>
</div>

<div class="d-flex justify-content-center">
    <div class="custom-form custom-form-fields text-center col-lg-6">
        <p>Para modificar la contraseña necesitamos verificar los siguientes datos de su cuenta:</p>
        <form id="frmSysAdminUpdatePassword" class="form" method="get" action="">
            @Html.CtrlInputSecond(id: "txtOldPassword", type: "password", required: true, placeHolder: "Contraseña actual", columnDataName: "OldPassword")

            @Html.CtrlInputSecond(id: "txtNewPassword", type: "password", required: true,
            placeHolder: "Nueva contraseña", columnDataName: "Password")

            @Html.CtrlInputSecond(id: "txtConfirmNewPassword", type: "password", required: true,
            placeHolder: "Confirmar nueva contraseña", columnDataName: "")

            @Html.CtrlButton(viewName: "vFinancialAccount", id: "btnChangePassword", type: "button",
                label: "Modificar", onClickFunction: "ValidateInputs", buttonType: "orange")
        </form>
    </div><!-- end custom-form -->
</div><!-- end form-content -->

<script>

    $(document).ready(function () {
        var sysAdminAccount = new vSysAdminAccount();
        document.getElementById("txtIdSysAdmin").value = "@ViewBag.IdSysAdmin";

        sysAdminAccount.GetData();

    });
</script>