@using WebApp.Helpers;
<script src="~/Scripts/Views/Recruiter/vRecruiterRegistration.js"></script>
@{
    ViewBag.Title = "vRecruiterRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-lg-5 col-sm-11">
                <div class=" text-box">
                    <h1 class="home-title">BOLSA DE EMPLEO</h1>
                    <p class="subtitle home-subtitle-1">
                        En está sección, todos los estudiantes podrán subir sus hojas de vida,
                        para ser evaluados por los reclutadores de entidades financieras
                    </p>
                    <p class="subtitle home-subtitle-2">Exclusiva para egresados de Banking Coach</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-11">
                <img class="img" src="~/Content/imgs/Empleo.jpg" alt="">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="text-center my-4">

                            <h1 class="form-title">REGISTRA AL RECLUTADOR</h1>
                        </div>
                        <form id="frmRecruiterCreate" class="form frmRecruiterCreate">
                            <div class="col-sm-12 text-center">
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlDropDownSecond(id: "selectFinancial", title:"Entidad Financiera", label: "labelFinancial", name:"financialfinancial", columnDataName: "RecruiterLogin")
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtLogin", type: "text", required: true, placeHolder: "Nombre de Usuario", columnDataName: "RecruiterLogin")
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtPassword", type: "password", required: true, placeHolder: "*********", columnDataName: "RecruiterPassword")
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtConfirmPassword", type: "password", required: true, placeHolder: "*********", columnDataName: "ConfirmPassword")
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin: 0px auto;">
                                <div style="margin: 0px auto 10px;">
                                    @Html.CtrlButton(viewName: "vRecruiterRegistration", type: "button", id: "btnRegister", label: "Registrar", onClickFunction: "ValidateInputs", buttonType: "orange")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
